body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* ==================================================
   Header 
   ================================================== */
.header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1F2937;
    padding: 0 48px 48px;
    font-weight: 700;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 24px; */
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 12px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 8px;
}

.header-bot-right {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
    flex: 1;
}

.header-bot-left {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex: 1;
}

h1.main-text {
    /* font-size: 32px; */
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.header-bot-left .secondary-text {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 12px;
}

button {
    font-size: 12px;
    font-weight: 600;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    border-radius: 4px;
    width: 72px;
    padding: 6px 8px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
/* ==================================================
   Content
   ================================================== */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
}

/* Images
   =================================================== */

.content-info {
    font-weight: 700;
    /* font-size: 18px; */
}
.container {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: wrap;
}

.frame {
    border-width: 2px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    overflow: hidden;
}

.frame img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    float: left;
}

.caption {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-top: 4px;
}
/* Quote
   =================================================== */

.quote {
    margin-top: 20px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 32px 48px;
}

span.quote-line {
    font-weight: 300;
    font-style: italic;
}

span.quotemaster {
    font-weight: 500;
    text-align: right;
}
/* Call to action
   =================================================== */

.call-to-action-info {
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    justify-content: space-around;
    margin: 16px;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 24px 48px;
    gap: 24px;
}

button.sign-up-bot {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
}

.call-to-action-info .sign-up {
    font-weight: 300;
    font-size: small;
}
/* ==================================================
   Footer
   ================================================== */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 8px;
    padding: 20px;
}