body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header-bot {
    display: flex;
    justify-content: space-between;
}

.header-bot img {
    max-width: 75%;
    border-radius: 5px;
    flex: 1;
    padding-bottom: 60px;
}

.header-bot-left {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex: 1;
}

.main-text {
    font-size: 32px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-bot-left .secondary-text {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 12px;
}

button {
    font-size: 12px;
    font-weight: 600;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    border-radius: 5px;
    width: 72px;
    padding: 1%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-info {
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content .quote {
    font-style: italic;
}

.container img {
    width: 100px;
    height: auto;
}
.call-to-action-info button {

}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 12px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

